body{
    background-image: url(https://media.istockphoto.com/id/1495576951/photo/abstract-bokeh-background-of-colorful-glowing-lights-with-soft-focus-in-bright-sunlight.webp?b=1&s=170667a&w=0&k=20&c=etJfP8kJU93MnEHTVv-48fS40GfZPKVJwYHET5xwjWs=);
    background-repeat: no-repeat;
    background-size: cover;
}